@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

#footer{
    background:url('/assets/images/pngtree-abstract-lines-seamless-pattern-curve-background-in-memphis-style-vector-png-image_12651229.png');
    background-color:$m5;
    border-top:$b-t;
    text-align:center;
    width:100vw;
    height:5vh;
}