@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
#navbar{
    @include navbarsz;
    background-color:$bs;
    border-bottom:$b-t;
}

#navbar button{
    font-family:$link-font;
}