@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
#navbar{
    @include navbarsz;
    background-color:$bp;
    border-bottom:$b-t;
}

#navbar button{
    padding:$space-xs;
    font-family:$link-font;
    color:$m1;
    width:100%;
}
#navbar button.active{
    background-color:$bs;
}