@use '../abstracts/mixins' as * ;
@use '../abstracts/variables' as *;

#sidebar{
    @include flex-col-even;
    @include sidebar;
    background:url('/assets/images/sparkle.gif');
    background-size:250px 250px, auto;
    background-repeat:repeat;
    background-color:$m5;
    border-right:$b-t;
    text-align:center;
}

#sidebar .rounded-avatar{
    max-width:75%;
    border-radius:$brr;
    box-shadow:0px 0px 0px 5px $bp;
}