@use '../abstracts/mixins' as * ;
@use '../abstracts/variables' as *;

#sidebar{
    @include flex-col-even;
    @include sidebar;
    background-color:$m4;
    border-right:$b-t;
    text-align:center;
}

#sidebar .rounded-avatar{
    max-width:75%;
    border-radius:$brr;
}