@use '../abstracts/variables' as *;
@use '../base/typography' as *;
#popup-container{
    display:flex;
    align-items:center;
    justify-content:center;
}
.popup{
    margin:$space-lg;
    padding:$space-md;
    width:75%;
    background-color:$m4;
    color:$m2;
    box-shadow:$b-i;
    border:$b-t;

}
.popup-header h2{
    font-family:$header-font;
}
