@use '/scss/abstracts/variables' as *;
html{
    scroll-behavior:smooth;
}

body,html{
    min-height:100vh;
    max-height:100vh;
}

main{
    display:flex;
    flex-direction:column;
    align-items:center;
    overflow:hidden;
}

::selection{
    background:$bp;
    color:$bt;
}