@use '../abstracts/variables' as *;
@use '../base/typography' as *;

@mixin flex-row-between{
    display:$fl;
    flex-direction:$row;
    justify-content:$sp-b;
    align-items:$fl-s;
    gap:0;
}

@mixin flex-row{
    display:$fl;
    flex-direction:$row;
    justify-content:$sp-b;
    align-items:$fl-s;
    gap:0;
}
@mixin flex-col{
    display:$fl;
    flex-direction:$col;
    justify-content:$sp-a;
    align-items:$cen;
    gap:0;
}

@mixin navbarsz{
    @include flex-row;
    width:100%;
    height:20%;
}

@mixin sidebar{
    min-width:$sb-w;
    max-width:$sb-w;
    max-height:$m-h;
    min-height:$m-h;
}